.edit_profils{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    text-align: center;
}
app-image{
    border-radius: 20px;
}
.edit_profils h1{
    text-align: center;
    margin-top: 20px;

 font-family: "Secular One", sans-serif;
}
.firstlast{
    display: flex;
}
.edits{
    display: block;
}
.edit_title{
    margin-right: 30px;
}