.flex_item-1{
    display: flex;
    justify-content: center;
    margin: 10px;
   


}
@media only screen and (max-width:540px){
    .flex_item-1 {
        flex-direction: column;
        margin-left: 30px;
    }
}
ng-container{
    display: flex; flex-direction: column;
}
.flex_item-1 > app-notifications{
    margin: 10px;
}
.flex_item-2{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.flex_item-2 > app-notifications{
    margin: 10px;
}
h1 {
    text-align: center;
}
.main {
    width: 100%;
    height: 200vh;
}
app-carts-form{
    display: flex;
    justify-content: center;
}